* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 10;
    height: 100vh;
    display: flex;
    background-color: rgb(118, 255, 225);
    align-items: center;
    justify-items: center;

    transition: background-color 0.5s;
}


/* .box{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    border: 1px solid plum;
    animation: spin 10s linear infinite;
    animation-play-state: paused;
    transition: background-color 1s, box-shadow 1s;
} */

.poem{
    position: fixed;
    bottom: 10%;
    right: 120px;
    width: auto;
    height: auto;
    background-color: rgba(197, 255, 242, 0.502);
    border: 7px solid rgba(0, 251, 255, 0.358);
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    line-height: 40px;
}


#overlay {
position: relative;
top: -30%;
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 10%;
  font-size: 80px;
  z-index: 4;

}

#blob{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 200px;
    height: 200px;
    background: radial-gradient(circle at 30% 30%, #7fffd4, #1e90ff);
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;


    --s: 1; /*how the blob scales code reference: https://codepen.io/wesbos/pen/gPZBZQ?utm_source=chatgpt.com*/ 

    animation: morph 3s linear infinite; /* animation reference: https://codepen.io/karisabinemalmin/pen/exjeym*/
}


@keyframes morph{
  0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    transform: scale(var(--s));
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    transform: scale(var(--s));

  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: scale(var(--s));

  }
}


.bold{
    font-weight: bold;
}


.shrink{
    font-family: "Courier New", cursive; /* change to any font */
    color: hotpink;
    background-color: blue;
    font-size: 24px;
}

.grow{
    font-family: "Courier New", cursive; /* change to any font */
    color: rgb(115, 105, 255);
    background-color: aqua;
    font-size: 200px;
}

.sleep{
    font-family: "Courier New", cursive; /* change to any font */
    color: rgb(28, 28, 28);
    background-color: rgb(60, 75, 115);
    font-size: 100px;
}

.sleep2{
    background-color: rgb(60, 75, 115);
}

.wake{
    font-family: "Courier New", cursive; /* change to any font */
    background-color: rgb(118, 255, 225);
    font-size: 100px;
}

.wake2{
    background-color: rgb(118, 255, 225);
}

.blush{
    font-family: "Courier New", cursive; /* change to any font */
    color: rgb(253, 184, 255);
    background-color: #ff5e91;
    font-size: 100px;
    font-weight: bold;
}

.happy{
    font-family: "Courier New", cursive; /* change to any font */
    color: rgb(253, 184, 255);
    background-color: #ff5e91;
    font-size: 100px;
    font-weight: bold;
}

.rainbow{
    font-family: "Courier New", cursive; /* change to any font */
    color: rgb(203, 255, 31);
    background-color: #ff5e91;
    font-size: 100px;
    font-weight: bold;
}

.purple{
    font-family: "Courier New", cursive; /* change to any font */
    color: rgb(87, 31, 255);
    background-color: #dc5eff;
    font-size: 100px;
    font-weight: bold;
}


